.text-primary-main {
  color: #0F6BB4
  ;
}

.text-primary-darker {
  color: #0B5087
}

.btn-primary-darker {
  background-color: #0B5087;
  color: white;
}

.bg-primary-main {
  background-color: #0F6BB4
  ;
}

.bg-primary-darker {
  background-color: #0B5087
}

.bg-warning-darker {
  background-color: #EF6D22;
}

.bg-blue-light {
  background-color: #E8F1F8;
}
